<div class="container">
  <main>
    <h1>Login</h1>
    <form>
      <div class="usuario">
        <label for="username">Usuário:</label>
        <input [(ngModel)]="requestLogin.login" id="username" name="username" type="text" required>
      </div>
      <div class="senha">
        <label for="password">Senha:</label>
        <input [(ngModel)]="requestLogin.password" id="password" name="password" type="password" required>
      </div>
      <button (click)="doLogin()" type="submit">Login</button>
    </form>
  </main>
</div>


