<div class="container">
  <main>
    <h1>Login</h1>
    <div>
      <div class="usuario">
        <label>Nome de usuário:</label>
        <input [(ngModel)]="username" type="text" required/>
      </div>
      <div class="senha">
        <label>Senha:</label>
        <input [(ngModel)]="password" type="password" required/>
      </div>
      <button (click)="login()">Entrar</button>
      <p *ngIf="error">{{ error }}</p>
    </div>
    <div class="link">
      <a routerLink="/cadastro">Cadastrar usuario</a>
    </div>
  </main>
</div>


